.arrow-right.icon {
  color: #000;
  position: absolute;
  right: 24px;
  top: 26px;
  width: 16px;
  height: 1px;
  background-color: currentColor;
}

.arrow-right.icon:before {
  content: "";
  position: absolute;
  right: 1px;
  top: -5px;
  width: 10px;
  height: 10px;
  border-top: solid 1px currentColor;
  border-right: solid 1px currentColor;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.mail.icon {
  color: #000;
  position: absolute;
  right: 24px;
  top: 21px;
  width: 15px;
  height: 10px;
  border-radius: 1px;
  border: solid 1px currentColor;
}

.mail.icon:before {
  content: "";
  position: absolute;
  left: 7px;
  top: -4px;
  width: 1px;
  height: 10px;
  background-color: currentColor;
  -webkit-transform-origin: bottom;
  transform-origin: bottom;
  -webkit-transform: rotate(-54deg);
  transform: rotate(-54deg);
}

.mail.icon:after {
  content: "";
  position: absolute;
  left: 7px;
  top: -4px;
  width: 1px;
  height: 10px;
  background-color: currentColor;
  -webkit-transform-origin: bottom;
  transform-origin: bottom;
  -webkit-transform: rotate(54deg);
  transform: rotate(54deg);
}

a,
button {
  cursor: pointer;
}

img {
  width: 100%;
}

.u-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.u-spaceBetween {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.u-right {
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.nav_wrapper.fade {
  visibility: visible;
  opacity: 1;
}

.nav_wrapper.slide-in {
  -webkit-transform: translateX(0) !important;
          transform: translateX(0) !important;
}

.bgr_btn.close span {
  background-color: #fff !important;
}

.bgr_btn.close .bgr_top {
  -webkit-transform: translate(-50%, 10px) rotate(45deg) !important;
          transform: translate(-50%, 10px) rotate(45deg) !important;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.bgr_btn.close .bgr_mid {
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.bgr_btn.close .bgr_bottom {
  -webkit-transform: translate(-50%, -8px) rotate(-45deg) !important;
          transform: translate(-50%, -8px) rotate(-45deg) !important;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.wrap .header {
  padding: 20px 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.wrap .header_logo a {
  font-weight: bold;
  font-size: 25px;
  letter-spacing: 0.2em;
}

.wrap .header_login {
  margin-right: 30px;
  padding: 10px;
  position: absolute;
  right: 210px;
}

.wrap .header_login a {
  font-size: 16px;
  color: #484e4d;
}

.wrap .header .bgr_btn {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: 0;
  border-radius: 0;
  color: inherit;
  cursor: pointer;
  font: inherit;
  margin: 0;
  outline: none;
  padding: 0;
  vertical-align: middle;
  display: block;
  width: 39px;
  height: 39px;
  right: 120px;
  position: relative;
  z-index: 200;
  border: none;
}

.wrap .header .bgr_btn span {
  width: 20px;
  height: 1px;
  display: block;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #484e4d;
}

.wrap .header .bgr_btn .bgr_top {
  top: 10px;
}

.wrap .header .bgr_btn .bgr_mid {
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.wrap .header .bgr_btn .bgr_bottom {
  bottom: 10px;
}

.wrap .header .nav_wrapper {
  height: 100vh;
  right: 0;
  position: fixed;
  top: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  width: 60vw;
  z-index: 50;
}

.wrap .header .nav_wrapper nav {
  width: 100%;
  height: 100%;
  background-color: #484e4d;
  opacity: 0.95;
  z-index: 50;
}

.wrap .header .nav_wrapper nav ul {
  display: block;
  position: absolute;
  top: 40%;
  left: 30%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.wrap .header .nav_wrapper nav ul li {
  margin-bottom: 30px;
}

.wrap .header .nav_wrapper nav ul li a {
  color: #fff;
  font-size: 15px;
}

.wrap .header .nav_wrapper nav ul li a:hover {
  opacity: 0.5;
}

.wrap .header .nav_wrapper nav ul li a span {
  margin-left: 15px;
  font-size: 12px;
}

.wrap .header .nav_wrapper nav ul .cart {
  padding-top: 30px !important;
  border-top: 1px solid #fff;
  width: 100%;
}

.wrap .main {
  margin-top: 79px;
  width: 100%;
}

.wrap .main .top_img {
  position: relative;
}

.wrap .main .top_img .top_img_label {
  width: 100%;
  background-color: #484e4d;
  opacity: 0.8;
  text-align: center;
  padding: 10px 0;
  position: absolute;
  top: 0;
}

.wrap .main .top_img .top_img_label p {
  color: #fff;
  opacity: 1;
  width: 100%;
}

.wrap .main .top_img img {
  width: 100%;
}

.wrap .main .top_img .top_img_text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.wrap .main .top_img .top_img_text p {
  color: #fff;
  font-size: 50px;
  font-weight: bold;
  letter-spacing: 0.2em;
  text-shadow: 1px 2px 3px #484e4d;
}

.wrap .main .about {
  padding: 100px 0;
  position: relative;
  height: 1200px;
}

.wrap .main .about ul {
  position: relative;
  height: 750px;
}

.wrap .main .about ul li {
  position: absolute;
  width: 100%;
}

.wrap .main .about ul li img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.wrap .main .about ul .about_img_top {
  top: 0;
  left: 5%;
  width: 60%;
  height: 400px;
}

.wrap .main .about ul .about_img_mid {
  top: 200px;
  right: 5%;
  width: 35%;
  height: 350px;
}

.wrap .main .about ul .about_img_bottom {
  top: 450px;
  left: 10%;
  width: 40%;
  height: 300px;
}

.wrap .main .about .about_text {
  position: absolute;
  top: 818px;
  left: 5%;
}

.wrap .main .about .about_text h2 {
  font-size: 35px;
  letter-spacing: 0.1em;
  font-weight: bold;
  margin-bottom: 25px;
}

.wrap .main .about .about_text p {
  font-size: 18px;
  color: #484e4d;
  letter-spacing: 0.05em;
}

.wrap .main .about .about_text p br {
  display: block;
  content: "";
  margin: 5px 0;
}

.wrap .main .about .more_link {
  position: absolute;
  top: 1150px;
  right: 5%;
  border-bottom: 1px solid #484e4d;
  padding-bottom: 10px;
  width: 130px;
  text-align: right;
}

.wrap .main .about .more_link a {
  letter-spacing: 0.05em;
  font-size: 18px;
}

.wrap .main .sec {
  padding: 80px 0;
}

.wrap .main .sec .u-flex {
  width: 90%;
  margin: auto;
}

.wrap .main .sec .u-flex .sec_img_box {
  width: 48%;
}

.wrap .main .sec .u-flex .sec_img_box img {
  width: 100%;
}

.wrap .main .sec .u-flex .sec_text_box {
  width: 45%;
  padding: 40px 20px 50px 20px;
  text-align: center;
}

.wrap .main .sec .u-flex .sec_text_box h2 {
  margin: 15px 14px 40px 14px;
  font-weight: bold;
  font-size: 25px;
  letter-spacing: 0.2em;
}

.wrap .main .sec .u-flex .sec_text_box .sec_text1 {
  margin: 30px 0;
  font-size: 16px;
}

.wrap .main .sec .u-flex .sec_text_box .sec_text1 br {
  display: block;
  content: "";
  margin: 5px 0;
}

.wrap .main .sec .u-flex .sec_text_box .sec_text2 {
  margin-bottom: 30px;
}

.wrap .main .sec .u-flex .sec_text_box .btn_more {
  position: relative;
  width: 70%;
  padding: 15px 40px 15px 24px;
  border: 1px solid #bbbbbb;
  text-align: left;
  margin: auto;
}

.wrap .main .sec .u-flex .sec_text_box .magagine {
  position: relative;
  margin-top: 10px;
}

.wrap .main .specialFlavor {
  background-color: #e1d9c5;
}

.wrap .main .specialFlavor .sec_text_box {
  background-color: #fff;
}

.wrap .main .pancake {
  background-color: whitesmoke;
}

.wrap .main .pancake .sec_text_box {
  background-color: #fff;
}

.wrap .main .sec.pickUp {
  background-color: #fafafa;
}

.wrap .main .sec.pickUp .sec_text_box {
  padding: 0 0 0 64px;
  text-align: left;
  display: table;
}

.wrap .main .sec.pickUp .sec_text_box .inner {
  display: table-cell;
  vertical-align: middle;
}

.wrap .main .sec.pickUp .sec_text_box .inner h2 {
  font-size: 20px;
  margin: 14px 0 32px 0;
}

.wrap .main .sec.pickUp .sec_text_box .inner .btn_more {
  margin: 0;
}

.wrap .main .gift .u-flex {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrap .main .gift .gift_img_box {
  width: 50%;
}

.wrap .main .gift .gift_img_box img {
  width: 100%;
  height: auto;
}

.wrap .main .gift .gift_text_box {
  width: 50%;
  padding: 100px 0;
}

.wrap .main .gift .gift_text_box h2 {
  padding: 0 75px;
  margin-bottom: 32px;
  letter-spacing: 0.05em;
  font-size: 32px;
  font-weight: bold;
}

.wrap .main .gift .gift_text_box h2 br {
  display: block;
  content: "";
  margin: 5px 0;
}

.wrap .main .gift .gift_text_box p {
  padding: 0 75px;
  margin-bottom: 24px;
  font-size: 16px;
  letter-spacing: 0.03em;
}

.wrap .main .gift .gift_text_box .btn_more {
  margin: 0 75px;
  position: relative;
  width: 70%;
  padding: 15px 40px 15px 24px;
  border: 1px solid #bbbbbb;
  text-align: left;
}

.wrap .main .topics_box {
  background-color: #484e4d;
  padding: 100px 0 70px 0;
}

.wrap .main .topics_box .topics_top_title {
  color: #fff;
  text-align: center;
  font-weight: 500;
  font-size: 1.125rem;
  margin-bottom: 60px;
  letter-spacing: 0.13em;
}

.wrap .main .journal {
  padding: 80px 0 100px 0;
  background-color: whitesmoke;
}

.wrap .main .journal .journal_top {
  text-align: center;
}

.wrap .main .journal .journal_top h1 {
  margin: 40px 0 10px 0;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 0.12em;
}

.wrap .main .journal .journal_top h2 {
  font-size: 15px;
  letter-spacing: 0.1em;
  font-weight: bold;
}

.wrap .main .journal .journal_topImg_box {
  margin: auto;
  margin-top: 80px;
  background-color: #e9e9e1;
  width: 70%;
  max-width: 720px;
  padding: 30px 0;
  position: relative;
}

.wrap .main .journal .journal_topImg_box img {
  width: 80%;
  display: block;
  margin: auto;
}

.wrap .main .journal .journal_topImg_box .journal_topImg_bottomText {
  text-align: right;
  width: 80%;
  margin: auto;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 0.1em;
}

.wrap .main .journal .journal_topImg_box .journal_topImg_topText {
  position: absolute;
  top: 18px;
  left: 10%;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.12em;
  color: #fff;
  -webkit-text-stroke: 1px #484e4d;
}

.wrap .main .journal ul {
  width: 70%;
  max-width: 720px;
  margin: auto;
  background-color: #fff;
}

.wrap .main .journal ul li:first-child {
  padding: 20px 30px;
}

.wrap .main .journal ul li:first-child p {
  font-size: 18px;
  font-weight: 400;
}

.wrap .main .journal ul li {
  padding: 16px 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #dbdee0;
}

.wrap .main .journal ul li .journal_img {
  width: 120px;
  height: 120px;
}

.wrap .main .journal ul li .journal_img img {
  width: 120px;
  height: 120px;
  -o-object-fit: cover;
     object-fit: cover;
}

.wrap .main .journal ul li .journal_text {
  padding-left: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrap .main .journal ul li .journal_text p {
  font-size: 16px;
  letter-spacing: 0.04em;
}

.wrap .main .journal ul li .journal_text time {
  margin-top: 12px;
  letter-spacing: 0.03em;
  color: #0000007a;
  display: block;
  text-align: right;
}

.wrap .main .journal ul li:last-child {
  border-bottom: none;
}

.wrap .main .journal .journal_more {
  display: block;
  text-align: center;
  border: 1px solid rgba(85, 95, 99, 0.5);
  max-width: 230px;
  line-height: 45px;
  font-size: 14px;
  letter-spacing: 0.04em;
  margin: auto;
  margin-top: 60px;
}

.wrap .main .greenCard {
  width: 100%;
  padding: 60px 0;
}

.wrap .main .greenCard_inner {
  width: 80%;
  margin: auto;
}

.wrap .main .greenCard_inner .greenCard_img {
  width: 45%;
}

.wrap .main .greenCard_inner .greenCard_text {
  width: 55%;
  display: table;
}

.wrap .main .greenCard_inner .greenCard_text .inner {
  display: table-cell;
  vertical-align: middle;
}

.wrap .main .greenCard_inner .greenCard_text .inner p {
  text-align: center;
  padding-top: 30px;
  margin-bottom: 30px;
  color: #000000db;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.6;
  letter-spacing: 0.04em;
  word-break: break-all;
}

.wrap .main .greenCard_inner .greenCard_text .inner a {
  border: 1px solid rgba(85, 95, 99, 0.5);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 2px;
  max-width: 230px;
  line-height: 45px;
  text-align: center;
  color: #fff;
  background-color: #383d3c;
  letter-spacing: 0.04em;
  font-size: 14px;
  font-weight: 400;
  display: block;
  margin: 0 auto;
}

.wrap .main .magazine {
  padding: 80px 0;
  background-color: #e1d9c5;
}

.wrap .main .magazine_inner {
  max-width: 720px;
  width: 70%;
  margin: auto;
}

.wrap .main .magazine_inner .magazine_detail {
  background-color: #fff;
  padding-top: 60px;
  padding-bottom: 70px;
  text-align: center;
}

.wrap .main .magazine_inner .magazine_detail h2 {
  font-size: 24px;
  margin-bottom: 40px;
  font-weight: 500;
  letter-spacing: 0.13em;
}

.wrap .main .magazine_inner .magazine_detail p {
  padding: 0 30px;
  margin-bottom: 30px;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.06em;
}

.wrap .main .magazine_inner .magazine_detail .magazin_mail_form {
  padding: 0 20px;
}

.wrap .main .magazine_inner .magazine_detail .magazin_mail_form input {
  width: 60%;
  height: 60px;
  border: 1px solid rgba(85, 95, 99, 0.5);
  background-color: whitesmoke;
  padding-left: 15px;
}

.wrap .main .magazine_inner .magazine_detail .magazin_mail_form button {
  margin-left: 10px;
  width: 80px;
  height: 60px;
  background-color: #484e4d;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 2px;
}

.wrap .main .magazine_inner .magazine_bottom {
  background-color: whitesmoke;
  padding: 40px 30px;
}

.wrap .main .magazine_inner .magazine_bottom p {
  font-size: 16px;
  text-align: center;
  color: #000000db;
}

.wrap .main .magazine_inner .magazine_bottom p span {
  color: #484e4d;
  border-bottom: 1px solid #484e4d;
  font-weight: bold;
}

.wrap .footer {
  padding-top: 65px;
  padding-bottom: 30px;
  background-color: #484e4d;
}

.wrap .footer_inner {
  max-width: 680px;
  width: 70%;
  margin: auto;
}

.wrap .footer_inner ul li {
  margin-bottom: 25px;
}

.wrap .footer_inner ul li a {
  color: #fff;
  font-size: 14px;
}

.wrap .footer .footer_bottom_text {
  margin-top: 100px;
  text-align: center;
  color: rgba(255, 255, 255, 0.32);
  font-size: 10px;
}
/*# sourceMappingURL=pc.css.map */