@media screen and (max-width: 767px) {
  .wrap {
    .header {
      padding-left: 10px;
      &_logo {
        line-height: 39px;
        a {
          font-size: 15px;
        }
      }
      &_login {
        right: 80px;
      }
      .bgr_btn {
        right: 10px;
      }
      .nav_wrapper {
        width: 80vw;
        height: 100vh;
      }
    }
    .main {
      .top_img {
        .top_img_text {
          p {
            font-size: 30px;
          }
        }
      }
      .about {
        margin-bottom: 50px;
        .more_link {
          top: 1210px;
        }
      }
      .sec {
        padding: 0;
        .u-flex {
          display: block;
          width: 100%;
          .sec_img_box {
            width: 100%;
            img {
              width: 100%;
            }
          }
          .sec_text_box {
            width: 100%;
            padding-left: 0;
            padding-right: 0;
          }
        }
      }
      .sec.pickUp {
        padding: 40px 0 50px 0;
        .sec_img_box {
          width: 80%;
          margin: auto;
          img {
            width: 100%;
          }
        }
        .sec_text_box {
          width: 80%;
          padding: 0;
          margin: auto;
          margin-top: 30px;
          .inner {
            .btn_more {
              width: 90%;
              margin: auto;
            }
          }
        }
      }
      .gift {
        .u-flex {
          display: block;

          .gift_img_box {
            width: 100%;
            img {
              width: 100%;
            }
          }
          .gift_text_box {
            width: 100%;
            h2 {
              padding: 14px;
            }
            p {
              padding: 14px;
            }

            .btn_more {
              width: 70%;
              margin: 0 auto;
            }
          }
        }
      }
      .greenCard {
        .u-flex {
          display: block;

          .greenCard_img {
            width: 90%;
            margin: auto;
            img {
              width: 100%;
            }
          }
          .greenCard_text {
            width: 90%;
            margin: auto;
          }
        }
      }
      .journal {
        .journal_topImg_box {
          width: 90%;
        }
        ul {
          width: 90%;
        }
      }
      .magazine {
        &_inner {
          width: 80%;
        }
      }
    }
  }
}
